
.frame-border{
    frameborder:0;
}
.logo{
    left: 0%;
    width:40px;
}

.rightmost-icons img{
    width:40px;
    height: 40px;
    background: white;
}
.search-bar{
    position: absolute;
    top: 10px;
    left: 40%;
}

#search-text{
    width: 200px;
    height: 25px;
}

.search-form{
    position: relative;
    top:-5px;
}
.rightmost-icons{
    position: absolute;
    top:10px ;
    right: 10px;
}
.search-form button{
    position: relative;
    top:5px;
}
#search-img{
    position: relative;
    width: 25px;
    height: 25px;
}
#logo-img{
    width:40px;
    height: 40px;
}

#search-button{
    right:0px;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 14px;
    font-weight: bold;
}

/*


.video-buttoms{
    width: 40px;
}
*/

.video-bar{
    width:660px;
}
.video-bar img{

    width:40px;
    height: 40px;
}

.buttons-x{
    width: 660px;
    height: 100px;
}

.buttons-x div{
    margin-left: 110px;
    width: 100px;
    height: 100px;
    position: absolute;
}

.user-panel-x{
    position:relative;
}

#views{
    left:0px;
}

#like-icon{
    left: 520px;
}

#dislike{
    left: 565px;
}

#share-buttom{
    left: 610px;
}

#subscribe-buttom{
    position: absolute;
    top: 0px;
    left: 602px;
    width: 40px;
    height: 40px;
}

#user-icon{

    top: 60px;
    left: 50px;
    width: 40px;
    height: 40px;
}
#Username{
    position: relative;
    left: 50px;
    top: -60px;
    width: 200px;
    height: 200px;

}
.date {
    color: gray;
    font-size: 12px;
}
#description{
    position: relative;
    left: 0px;
    top: -200px;
    width: 500px;
    height: 500px;
}
#comments{
    position: relative;
    left: 0px;
    top: 150px;

}
textarea {
    width: 500px;
    height: 100px;
}
#words{
    font-size: 10px;
    color: gray;
}
 .video-content{
     width:660px;
     height: 415px;
     margin-left: 100px;
 }

 #video{
     width:660px;
     height: 415px;
 }

.sidebar{
    position: absolute;
    right: 0px;
    width: 320px;
    height: 1200px;
    top: 65px;
    overflow-y: auto;

}
.side-element{
    width: 300px;
    height: 130px;
}
.comment{
    width: 500px;
    height: 100px;
    overflow-x: auto;
}

.explenation {
    position: relative;
    left: 155px;
    top: -110px;
    width: 50px;
}

body{
    background-color: black;
}

p{
    color:white;
}
