.logo{
    left: 0%;
    width:40px;
}

.rightmost-icons img{
    width:40px;
    height: 40px;

}
.search-bar{
    position: absolute;
    top: 0;
    left: 45%;
}

.rightmost-icons{
    position: absolute;
    top: 0 ;
    right: 0;
}

#search-img{
    width: 20px;
    height: 20px;
}
#logo-img{
    width:40px;
    height: 40px;
}

#search-button{
    right:0px;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 14px;
    font-weight: bold;
}

/*
.video-bar div{
    position: absolute;

}

.video-buttoms{
    width: 40px;
}
*/
.video-bar img{

    width:40px;
    height: 40px;
}
.buttons-x div{
    width: 100px;
    height: 100px;
    position: absolute;
}

.user-panel-x{
    top :60px;
    position:relative;
}

#views{
    left:0px;
}

#like-icon{
    right: 120px;
}

#dislike{
    right: 60px;
}

#share-buttom{
    right: 0px;
}

#subscribe-buttom{
    position: absolute;
    left: 40px;
    width: 40px;
    height: 40px;
}

#user-icon{
    top: 60px;
    left: 50px;
    width: 40px;
    height: 40px;
}
