body{
    width: 1360px;
    height: 1500px;
    margin: 0;
    background-color: #1f1f1f;
}
.nav-bar{
    width: 1360px;
    height: 56px;
    margin: 0;
    background-color: #272727;
}
.logo {
    float: left;
    left: 0;
    width: 56px;
    height: 56px;
}

.search-form{
    width: 690px;
    height: 50px;
}

.search-bar {
    margin: 0 auto;
    width: 690px;
    height: 47px;
    position: relative;
}

#search-text {
    float:left;
    position:relative;
    width: 83%;
    height: 27px;
    margin-right: -7px;
    top: 10px;
    background-color: black;
    border-width: 0.5px;
    border-color:gray;
    border-radius: 1px;
    border-style: solid;
}

.rightmost-icons {
    float: right;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0 0 0 50px;
    width: 250px;
    height: 56px;
}

.rightmost-icons svg{
    fill: white;
    width: 24px;
    height: 24px;
    margin: 0 20px 0 0;
    padding: 0;
    position: relative;
    top: 0;
}

.rightmost-icons img{
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 7px;
    border-radius: 100%;
}

.searchbutton{
    float: left;
    width: 65px;
    height: 28px;
    border: 0;
    position: relative;
    border: 1px #383838 solid;
    top: 10px;
    padding: 0;
    background-color: #383838;
}

#search-img {
    width: 24px;
    height: 28px;
    margin: 0 auto;
}

#logo-img {
    width: 47px;
    height: 47px;
    fill: white;
}

.search-button {
    display: block;
    width: 24px;
    height: 28px;
    padding: 0;
    margin: 0 auto;
    background-color: #383838;
    border: 0;
}

.frameborder{
    border:0;
    float:left;
}

.video-content p{
    clear:left;
    height: 20px;
}
.video-bar{
    clear:both;
    width: 875px;
    height: 500px;
}

.video-buttoms{
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 30px;
}

p {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
}


.video-bar img {
    width: 40px;
    height: 40px;

}

.buttons-x {
    width: 872px;
    height: 60px;
    border-bottom:1px gray solid;
    margin-bottom: 30px;
}

#views{
    float:left;
    height: 40px;
    width: 200px;
}

.user-panel-x {
    position: relative;
    clear: left;
}


#user-icon {
    top: 60px;
    left: 50px;
    width: 40px;
    height: 40px;
}

#Username {
    position: relative;
    left: 50px;
    top: -60px;
    width: 200px;
    height: 200px;
}
.date {
    color: gray;
    font-size: 12px;
}

#description {
    position: relative;
    left: 0px;
    top: -200px;
    width: 500px;
    height: 500px;
}
#comments {
    position: relative;
    left: 0;
    top: 150px;
    overflow: hidden;
}

textarea {
    width: 500px;
    height: 100px;
}

#words {
    font-size: 10px;
    color: gray;
}

 .video-content {
     float:left;
     width: 900px;
     height: 49 2px;
     margin: 20px 0 0 30px;
 }

 #video {
     width: 875px;
     height: 492px;
 }

.sidebar {
    float:left;
    width: 390px;
    height: 1200px;
    position: relative;
    top: 20px;
    overflow-y: auto;
}

.side-element {
    width: 300px;
    height: 130px;
}

.comment {
    width: 500px;
    height: 100px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}

.explenation {
    position: relative;
    left: 155px;
    top: -110px;
    width: 50px;
}
